// Colors
$white: #FAFAFA;
$cyan-300: #8FE3F9;
$cyan-600: #4D96A9;
$purple-300: #D9B8FF;
$purple-600: #855FB1;
$slate-300: #D1D1DF;
$slate-600: #87879D;
$slate-900: #28283D;

// Spacing
$spacing-50: 0.25rem;// 4px
$spacing-100: 0.5rem;// 8px
$spacing-200: 1rem;// 16px
$spacing-300: 1.5rem;// 24px
$spacing-400: 2rem;// 32px
$spacing-500: 2.5rem;// 40px
$spacing-700: 3.5rem;// 56px
$spacing-800: 4rem;// 64px
$spacing-900: 4.5rem;// 72px
$spacing-1000: 5rem;// 80px
$spacing-1400: 7rem;// 112px

%container {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
  overflow: hidden;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-preset-1, .text-preset-2, .text-preset-3, .text-preset-4 {
  font-size: $spacing-500;
  line-height: 110%;
  color: $slate-900;
}

.text-preset-1 {
  font-weight: 900;
}

.text-preset-2 {
  font-size: $spacing-400;
  font-weight: 900;
}

.text-preset-3 {
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: $spacing-50;
  color: $cyan-600;
  text-transform: uppercase;
}

.text-preset-4, .text-preset-5 {
  font-size: $spacing-200;
  font-weight: 500;
  line-height: 150%;
}

.text-preset-5 {
  font-weight: 900;
}

.text-slate-600 {
  color: $slate-600;
}

.text-white {
  color: $white;
}

.meet-landing-page-number {
  @extend .text-preset-5;
  font-weight: 900;
  color: $slate-600;
  margin-inline: auto;
  display: inline-block;

  &::before {
    content: '';
    background-color: $slate-300;
    width: 1px;
    height: $spacing-1000;
    margin-inline: auto;
    display: block;
  }

  &__circle {
    background-color: $white;
    width: $spacing-700;
    height: $spacing-700;
    border: 1px solid $slate-300;
    border-radius: 50%;
    text-align: center;
    margin-inline: auto;
    line-height: $spacing-700;
  }
}

.meet-landing-page-button {
  @extend .text-preset-5;
  font-weight: 900;
  background-color: $cyan-600;
  color: $white;
  padding-inline: $spacing-500;
  padding-block: $spacing-200;
  border-radius: 1.8125rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 300ms;
  display: inline-flex;
  gap: $spacing-50;

  &:hover {
    background-color: #71C0D4;
  }

  & span {
    color: $cyan-300;
  }

  &--purple {
    background-color: $purple-600;

    &:hover {
      background-color: #B18BDD;
    }

    & span {
      color: $purple-300;
    }
  }
}

.meet-landing-page-nav {
  padding-top: 3rem;
  padding-inline: $spacing-1000;
  text-align: center;

  &__logo {
    width: 118px;
    height: 28px;
    display: inline-block;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 1028px) {
    padding-top: $spacing-1000;
  }
}

.meet-landing-page-hero {
  padding-top: $spacing-800;
  padding-bottom: $spacing-400;
  overflow: hidden;
  display: grid;
  row-gap: 3rem;

  &__faces-desktop {
    display: none;
  }

  &__faces-movil {
    width: 100%;
    overflow: hidden;

    &-image {
      width: 113.53125%;
      min-width: 433px;
      min-height: 160px;
      object-fit: cover;
      position: relative;
      left: -6.765625%;
      right: -6.765625%;
    }
  }

  &__texts {
    @extend %container;
    width: 81.3333333%;
    max-width: 448.3px;
    text-align: center;
    display: grid;
    gap: $spacing-300;
  }

  &__title {
    margin: 0;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1.0625rem;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: $spacing-800;

    &__texts {
      width: 58.3725%;
    }
  }

  @media screen and (min-width: 1024px) {
    display: flex;

    &__faces-movil {
      display: none
    }

    &__faces-desktop {
      $translate: -7%;
      display: block;
      position: relative;

      &-image--left {
        position: relative;
        left: $translate;
      }

      &-image--right {
        position: relative;
        right: $translate;
      }
    }

    &__texts {
      margin-top: 1.4375rem;
      gap: $spacing-400;
    }
  }
}

.meet-landing-page-content {
  @extend %container;
  width: 82.933333333%;
  max-width: 1120px;
  margin-top: $spacing-400;
  margin-bottom: $spacing-800;
  display: grid;
  row-gap: $spacing-800;

  &__collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $spacing-200;

    &-image {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: $spacing-100;
    }
  }

  &__texts {
    text-align: center;
    max-width: 504px;
    margin-inline: auto;
  }

  &__title {
    margin-bottom: $spacing-400;
    display: grid;
    gap: $spacing-200;
  }

  &__paragraph {
    color: $slate-600;
  }

  @media screen and (min-width: 768px) {
    width: 91.665%;
    margin-top: $spacing-700;

    &__collage {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: $spacing-300;
    }
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: $spacing-900;

    &__collage {
      gap: $spacing-400;
    }
  }
}

.meet-landing-page-footer {
  padding-top: 6.75rem;
  text-align: center;
  position: relative;

  &__number {
    position: absolute;
    z-index: 2;
    top: 0;
    inset-inline: 0;
  }

  &__content {
    background-image: url('../assets/mobile/image-footer.jpg');
    background-color: $cyan-600;
    background-size: cover;
    background-position: center;
    padding: $spacing-800 $spacing-400;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      background-color: $cyan-600;
      opacity: 85%;
      position: absolute;
      z-index: -1;
      inset: 0;
    }
  }

  &__texts {
    max-width: 504px;
    margin-inline: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    justify-items: center;
    align-items: start;
    row-gap: $spacing-300;
    column-gap: $spacing-400;
  }

  &__title {
    color: $white;
  }

  &__paragraph {
    color: $white;
  }

  @media screen and (min-width: 768px) {
    &__content {
      background-image: url('../assets/tablet/image-footer.jpg');
      padding-inline: 8.25rem;
    }
  }

  @media screen and (min-width: 1024px) {
    &__content {
      padding: 7rem 10rem;
    }

    &__texts {
      max-width: 1020px;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .text-preset-1 {
    font-size: 3rem;
  }

  .text-preset-2 {
    font-size: 2.25rem;
  }

  .text-preset-3 {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-preset-1 {
    font-size: $spacing-800;
  }

  .text-preset-2 {
    font-size: $spacing-500;
  }

  .text-preset-3 {
    font-size: $spacing-200;
  }

  .text-preset-4 {
    font-size: 1.125rem;
  }
}